@import '../../../styles/common.scss';

.modal {
    position: absolute;
    background-color: $white;
    box-shadow: 0px -7px 16px 2px rgba(102, 148, 191, 0.1), 0px 8px 20px -6px rgba(0, 0, 0, 0.15);
    border-radius: 24px;

    .container {
        padding: 28px;
    }

    @media (max-width: $breakpoint-desk) {
        .container {
            padding: 24px;
        }
    }
}
