@import '../../../styles/common.scss';

.overlay {
    z-index: $z-index-overlay;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    @media (max-width: $breakpoint-tab) {
        background: rgba(0, 0, 0, 0.3);
    }
}

.modal {
    z-index: $z-index-modal;
    position: absolute;
    background-color: $white;
    border-radius: 24px;

    .container {
        position: relative;
        padding: 28px;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            display: none;

            @media (max-width: $breakpoint-tab) {
                display: block;
            }
        }
    }

    @media (max-width: $breakpoint-desk) {
        .container {
            padding: 24px;
        }
    }

    @media (min-width: $breakpoint-tab + 1px) {
        box-shadow: 0px -7px 16px 2px rgba(102, 148, 191, 0.1),
            0px 8px 20px -6px rgba(0, 0, 0, 0.15);
    }
}
