@import '../../../../styles/common.scss';

.item {
    font-size: 18px;
    line-height: (24/18);
    color: $dark-blue;
    padding: 12px 35px;
    cursor: pointer;

    @include at-mixin-hover-styles {
        background-color: $light-grey;
    }

    @media (max-width: $breakpoint-tab) {
        font-size: 14px;
        line-height: (17/14);
        padding: 15px 0;
    }
}
