@import '../../styles/common.scss';

.content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 28px;
}

.leftColumn,
.rightColumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 28px;
}

@media (max-width: $breakpoint-desk) {
    .content {
        gap: 20px;
    }

    .leftColumn,
    .rightColumn {
        row-gap: 20px;
    }

    .leftColumn {
        width: 45%;
    }

    .rightColumn {
        width: 55%;
    }
}

@media (max-width: $breakpoint-tab) {
    .content {
        flex-direction: column;
    }

    .leftColumn,
    .rightColumn {
        width: 100%;
    }
}
