@import '../../styles/variables.scss';

.header {
    background-color: $white;
    box-shadow: 0 0 16px 2px rgba(102, 148, 191, 0.1), 0 9px 13px -6px rgba(102, 148, 191, 0.05);
}

.logo {
    @media (max-width: $breakpoint-tab) {
        width: 126px;
        height: 30px;
    }

    @media (max-width: $breakpoint-mob) {
        width: 88px;
        height: 21px;
    }
}
