@import '../../../styles/common.scss';

.wrapper {
}

.custom {
    background-color: $light-grey;
    color: $dark-blue;
    opacity: 0.5;
    border: 0;
    outline: 0;
    padding: 10px 15px;
    border-radius: 55px;
    font-size: 14px;
    line-height: (17/14);

    &::-webkit-input-placeholder {
        color: $dark-blue;
    }

    &:focus {
        outline: 2px solid $blue-2;
    }
}
