@import '../../../../styles/common.scss';

.sunriseSunsetTimes {
    h3 {
        color: $dark-blue;
        margin-bottom: 20px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .sunrise {
    }

    .sunset {
    }
}
