@import '../../styles/variables.scss';

.footer {
    background-color: $white;
    box-shadow: 0 0 16px 2px rgba(102, 148, 191, 0.1), 0 9px 13px -6px rgba(102, 148, 191, 0.05);
}

.copyright {
    display: flex;
    justify-content: center;
    color: $blue-2;
}
