@import '../../styles/variables.scss';

.actions {
    display: flex;
}

.search {
    margin-right: 15px;

    svg {
        width: 22px;
        height: 22px;
    }

    @media (min-width: $breakpoint-tab + 1px) {
        display: none;
    }
}

.settings {
}
