@import '../../styles/common.scss';

.headerActions {
    position: relative;
    margin-left: 20px;

    .actions {
        display: flex;
    }

    @media (min-width: $breakpoint-tab + 1px) {
        .settings {
            svg {
                width: 34px;
                height: 34px;
            }
        }
    }
}
