@import '../../styles/variables.scss';

.actions {
    display: flex;
}

.search {
    margin-right: 15px;

    @media (min-width: $breakpoint-tab + 1px) {
        display: none;
    }
}

.settings {
    svg {
        @media (min-width: $breakpoint-tab + 1px) {
            width: 34px;
            height: 34px;
        }
    }
}
