@import '../../../styles/common.scss';

.hint {
    font-size: 18px;
    line-height: (24/18);
    color: $dark-blue;
    padding: 12px 35px;
    cursor: pointer;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: $light-grey;
        }
    }
}
