@import '../../../styles/common.scss';

.settings {
    @media (min-width: $breakpoint-tab + 1px) {
        top: 39px;
        left: -402px;
        right: -3px;
    }

    @media (max-width: $breakpoint-tab) {
        border-radius: 24px 24px 0 0;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;

        .optionGroups {
            padding-top: 32px;
        }
    }
}
