@import './styles/reset.scss';
@import './styles/fonts.scss';
@import './styles/common.scss';

html,
body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    height: 100%;
    background-color: $light-grey;
    font-family: 'Rubik', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    padding: 24px 36px;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: $breakpoint-tab) {
        padding: 24px;
    }

    @media (max-width: $breakpoint-mob-xxs) {
        padding: 16px;
    }
}
